div.appview-container.st-emotion-cache-1wrcr25.ea3mdgi9{
    background-color: #1A1C21;
}
header.st-emotion-cache-18ni7ap.ezrtsby2{
    background-color: #E1FF01;
}
div.row-widget.stTextInput.st-emotion-cache-5u018y.e11y4ecf0{
    background-color: #1A1C21;
}